<!DOCTYPE html>
<html>
	
<head>
		<!--Meta setup - Required for apple device-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!--Favicon-->
		<link rel="icon" type="image/png" href="project/img/welcome/favicon.png">
	
		<!--Title-->
  	<title>Jweecy</title>
	
		<!--Include fonts-->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!--Include webplate-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script id="webplate-stack" src="stack.js"></script>
		<script id="smooth-scroll" src="script/smooth.js"></script>
		


<!-- Body -->
	
<body style="display: none;" data-icon-font="icomoon" data-ui="stripe" data-project-css="welcome.css" data-project-js="min/welcome.min.js" data-formplate-colour="aqua" class="invert">

	<!-- Navigation -->
	
	<nav class="absolute"><div class="contain">
		<ul class="navigation">
			<li>
				<a href="#whatido" class="scroll">What I Do<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="/music" >Music</a></li>
					<li><a href="/woodwork">Woodwork</a></li>
					<li><a href="/techlab">Techlab</a></li>
          <li><a href="/art">Art</a></li>
					<li><a href="/food">Food</a></li>

				</ul>
			</li>

			<li><a href="#contact" class="scroll">Contact</a></li>
		</ul>

		<div class="logo-container"><a href="/" class="logo-line">J w e e c y</a></div>
	</div></nav>


	<!-- Header -->

	<header>
      <div class="flickerplate bg-image" data-dot-navigation="true" data-block-text="false" data-auto-flick="false"  data-dot-alignment="center" data-theme="light" data-auto-flick-delay=10 id="musicshowcase">	
          <ul>
              <li data-background="images/food/unagidon.jpg">

                  <div class="flick-title">Food</div>
                  <div class="flick-sub-text"></div>

              </li>

          </ul>

      </div>



			
	</header>

	<div class="stripe" id="food"><div class="contain">
      <h3>Food Showcase</h3>
      <div class="flickerplate bg-image" data-dot-navigation="true" data-block-text="true" data-auto-flick="false"  data-dot-alignment="center" data-theme="light" data-auto-flick-delay=20 id="foodshowcase">	
          <ul>
              <li data-background="images/food/lamb.jpg">
<!--                  <div class="flick-sub-text"></div>-->
              </li>							
						 	<li data-background="images/food/claypot.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
							<li data-background="images/food/unagidon.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
							<li data-background="images/food/3layer.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
							<li data-background="images/food/duck.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
							<li data-background="images/food/potato.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
							<li data-background="images/food/xmas.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
							<li data-background="images/food/hokkien.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
							<li data-background="images/food/stew.jpg">
<!--							 		<div class="flick-sub-text"></div>-->
              </li>
<!--
							<li data-background="images/drawer45/drawers8.jpg">
							 		<div class="flick-sub-text"></div>
              </li>
							<li data-background="images/drawer45/drawers9.jpg">
							 		<div class="flick-sub-text"></div>
              </li>
							<li data-background="images/drawer45/drawers10.jpg">
							 		<div class="flick-sub-text"></div>
-->
              </li>						
          </ul>

      </div>

	</div></div>
	
	


  <!-- What I Do -->

  <div class="stripe" id="whatido"><div class="contain">

		<h3>What Else Do I Do</h3>
        <h6>These are some of my other interests. Do you share the same?</h6>
        
		
		<a href="/music" class="image-hover" data-wallpaper="images/chet.jpg">
			<div class="text">
				<p><span class="title">Music</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/woodwork" class="image-hover" data-wallpaper="images/tungpine.jpg">
			<div class="text">
				<p><span class="title">Woodwork</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/techlab" class="image-hover" data-wallpaper="images/circuit.jpg">
			<div class="text">
				<p><span class="title">Techlab</span>Here is some small additional text</p>
			</div>
		</a>
        
        <a href="/art" class="image-hover" data-wallpaper="images/impala4.jpg">
			<div class="text">
				<p><span class="title">Art</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/food" class="image-hover" data-wallpaper="images/chix.jpg">
			<div class="text">
				<p><span class="title">Food</span>Here is some small additional text</p>
			</div>
		</a>
		
	</div></div>



    


	<!-- Contact -->

	<div class="stripe" id="contact"><div class="contain">
	  <h3>Contact</h3>
		<h6>Do we have anything in common? Maybe we can create something together. Contact or follow me.</h6>	
			
		<a href="mailto:jweecy@gmail.com?subject=Hi Jweecy&body=Hi there" class="image-hover" data-wallpaper="images/1.jpg">
			<div class="text">
				<p><span class="title">E-mail</span>jweecy@gmail.com</p>
			</div>
		</a>

			
		<a href="https://twitter.com/jweecy" class="image-hover" data-wallpaper="images/2.jpg">
			<div class="text">
				<p><span class="title">Twitter</span>Jweecy</p>
			</div>
		</a>
			
		<a href="http://instagram.com/jweecy" class="image-hover" data-wallpaper="images/3.jpg">
			<div class="text">
				<p><span class="title">Instagram</span>Jweecy</p>
			</div>	
		</a>
	</div></div>



	<!-- Footer -->

	<div class="stripe dark" id="footer"><div class="contain">

		<h6> With Love </h6>
		&bull;
		<h4> J w e e c y </h4>
		
		<div><br>
			Updates <a href="https://twitter.com/jweecy" target="_blank">@jweecy</a>
		</div>

	</div></div>

</body>
</html>