<!DOCTYPE html>
<html>
<head>
    <!--Meta setup - Required for apple device-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--Favicon-->
	<link rel="icon" type="image/png" href="project/img/welcome/favicon.png" />
	
    <!--Title-->
    <title>Jweecy</title>
	
	<!--Include fonts-->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!--Include webplate-->
    <script id="webplate-stack" src="stack.js"></script>

</head>
<body style="display: none;" data-icon-font="icomoon" data-ui="stripe" data-project-css="welcome.css" data-project-js="min/welcome.min.js" data-formplate-colour="aqua" class="invert">

	<!-- Navigation -->
	<nav class="absolute"><div class="contain">

		<ul class="navigation">
			<li>
				<a href="#">What I Do<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="#music">Music</a></li>
					<li><a href="#woodwork">Woodwork</a></li>
					<li><a href="#techlab">Techlab</a></li>
          <li><a href="#art">Art</a></li>
					<li><a href="#food">Food</a></li>
          <li><a href="#professional">Professional</a></li>
				</ul>
			</li>
			<li>
				<a href="#journal" class="scroll-down">Journal</span></a>

			</li>
			<li><a href="#contact" class="scroll-down">Contact</a></li>
		</ul>

		<div class="logo-container"><a href="#" class="logo-line">J w e e c y</a></div>

	</div></nav>

	<!-- Header -->
	<header class="stripe full">

		<a href="#" class="navigation-trigger icon-menu"></a>
		
		<div class="contain">

			<div class="text-center-tight"><div class="inner">
				
				<h2>J w e e c y</h2>
				<h5> Hello there <br> <br> Nice to meet you <br> <br> Scroll down & explore </h5>

			</div></div>

			<a href="#" class="scroll-down icon-angle-down"></a>

		</div>

		<div class="bg-image"></div>

	</header>

    
  <div class="stripe" id="whatido"><div class="contain">

		<h3>What I Do</h3>
        <h6>These are some of my interests. Do you share the same?</h6>
        
		
		<a href="/music" class="image-hover" data-wallpaper="images/guitar.jpg">
			<div class="text">
				<p><span class="title">Music</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/woodwork" class="image-hover" data-wallpaper="images/woodend.jpg">
			<div class="text">
				<p><span class="title">Woodwork</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/techlab" class="image-hover" data-wallpaper="images/circuit.jpg">
			<div class="text">
				<p><span class="title">Techlab</span>Here is some small additional text</p>
			</div>
		</a>
        
        <a href="/art" class="image-hover" data-wallpaper="images/sky.gif">
			<div class="text">
				<p><span class="title">Art</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/food" class="image-hover" data-wallpaper="images/sushi.jpg">
			<div class="text">
				<p><span class="title">Food</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/professional	" class="image-hover" data-wallpaper="images/1.jpg">
			<div class="text">
				<p><span class="title">Professional</span>Here is some small additional text</p>
			</div>
		</a>

	</div></div>

 	<!-- Journal -->
	<div class="flickerplate bg-image" data-dot-navigation="true" data-block-text="false" data-auto-flick="false"  data-dot-alignment="center" data-theme="dark" data-auto-flick-delay=10 id="journal">	
		

		<ul>

			<li data-background="images/sky.gif">

				<div class="flick-title">Entry #110</div>
				<div class="flick-sub-text"> I have been obsessing about woodworking for the past few months. Everytime I close my eyes, I imagine how two pieces of wood come together. I see two pieces of wood in a vast empty space float towards each other in slow motion. As it comes together, I can see how the dove and the tail of a dovetail joint come together and fit into place. <br><br>Looks like I need to try making one of these joints that I have been dreaming about. See how it goes. Update you tomorrow.</div>

			</li>
			<li data-background="images/28H.jpg">

				<div class="flick-title">Entry #111</div>
				<div class="flick-sub-text">I have been obsessing about woodworking for the past few months. Everytime I close my eyes, I imagine how two pieces of wood come together. I see two pieces of wood in a vast empty space float towards each other in slow motion. As it comes together, I can see how the dove and the tail of a dovetail joint come together and fit into place.</div>

			</li>
			<li data-background="images/134H.jpg">

				<div class="flick-title">Entry #112</div>
				<div class="flick-sub-text">I have been obsessing about woodworking for the past few months. Everytime I close my eyes, I imagine how two pieces of wood come together. I see two pieces of wood in a vast empty space float towards each other in slow motion. As it comes together, I can see how the dove and the tail of a dovetail joint come together and fit into place.</div>
				
			</li>
			<li data-background="images/49H.jpg">

				<div class="flick-title">Entry #113</div>
				<div class="flick-sub-text">I have been obsessing about woodworking for the past few months. Everytime I close my eyes, I imagine how two pieces of wood come together. I see two pieces of wood in a vast empty space float towards each other in slow motion. As it comes together, I can see how the dove and the tail of a dovetail joint come together and fit into place.</div>

			</li>
			<li data-background="images/113H.jpg">

				<div class="flick-title">Entry #114</div>
				<div class="flick-sub-text">I have been obsessing about woodworking for the past few months. Everytime I close my eyes, I imagine how two pieces of wood come together. I see two pieces of wood in a vast empty space float towards each other in slow motion. As it comes together, I can see how the dove and the tail of a dovetail joint come together and fit into place.</div>

			</li>
		</ul>

	</div></div>


  <div class="stripe" id="journal"><div class="contain">
		<h3>Journal</h3>
		<h6>Entry #115</h6>
		<p> I have been obsessing about woodworking for the past few months. Everytime I close my eyes, I imagine how two pieces of wood come together. I see two pieces of wood in a vast empty space float towards each other in slow motion. As it comes together, I can see how the dove and the tail of a dovetail joint come together and fit into place. <br> 
		</p>
		
		<p>Looks like I need to try making one of these joints that I have been dreaming about. See how it goes. Update you tomorrow. </p>	
			
	</div></div>
			
	<div class="stripe" id="contact"><div class="contain">
	  <h3>Contact</h3>
		<h6>Do we have anything in common? Maybe we can create something together. Contact or follow me.</h6>	
			
		<a href="mailto:jweecy@gmail.com?subject=Hi Jweecy&body=Hi there" class="image-hover" data-wallpaper="images/1.jpg">
			<div class="text">
				<p><span class="title">E-mail</span>jweecy@gmail.com</p>
			</div>
		</a>

			
		<a href="https://twitter.com/jweecy" class="image-hover" data-wallpaper="images/2.jpg">
			<div class="text">
				<p><span class="title">Twitter</span>Jweecy</p>
			</div>
		</a>
			
		<a href="http://instagram.com/jweecy" class="image-hover" data-wallpaper="images/3.jpg">
			<div class="text">
				<p><span class="title">Instagram</span>Jweecy</p>
			</div>	
		</a>
	</div></div>



			

	<!-- Footer -->
	<div class="stripe dark" id="footer"><div class="contain">

		<h6> With Love </h6>
		&bull;
		<h4> J w e e c y </h4>
		
		<div><br>
			Updates <a href="https://twitter.com/jweecy" target="_blank">@jweecy</a>
		</div>

	</div></div>

</body>
</html>