<!DOCTYPE html>
<html>
	
<head>
		<!--Meta setup - Required for apple device-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!--Favicon-->
		<link rel="icon" type="image/png" href="project/img/welcome/favicon.png">
	
		<!--Title-->
  	<title>Jweecy</title>
	
		<!--Include fonts-->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!--Include webplate-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script id="webplate-stack" src="stack.js"></script>
		<script id="smooth-scroll" src="script/smooth.js"></script>
		


<!-- Body -->
	
<body style="display: none;" data-icon-font="icomoon" data-ui="stripe" data-project-css="welcome.css" data-project-js="min/welcome.min.js" data-formplate-colour="aqua" class="invert">

	<!-- Navigation -->
	
	<nav class="absolute"><div class="contain">
		<ul class="navigation">
			<li>
				<a href="#whatido" class="scroll">What I Do<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="/music" >Music</a></li>
					<li><a href="/woodwork">Woodwork</a></li>
					<li><a href="/techlab">Techlab</a></li>
          <li><a href="/art">Art</a></li>
					<li><a href="/food">Food</a></li>

				</ul>
			</li>

			<li><a href="#contact" class="scroll">Contact</a></li>
		</ul>

		<div class="logo-container"><a href="/" class="logo-line">J w e e c y</a></div>
	</div></nav>


	<!-- Header -->

	<header>
      <div class="flickerplate bg-image" data-dot-navigation="true" data-block-text="false" data-auto-flick="false"  data-dot-alignment="center" data-theme="light" data-auto-flick-delay=10 id="musicshowcase">	
          <ul>
              <li data-background="images/wood.jpg">

                  <div class="flick-title"></div>
                  <div class="flick-sub-text"></div>

              </li>
              <li data-background="images/woodend.jpg">

                  <div class="flick-title"></div>
                  <div class="flick-sub-text"></div>

              </li>
              <li data-background="images/drum.jpg">

                  <div class="flick-title"></div>
                  <div class="flick-sub-text"></div>

              </li>
              <li data-background="images/minibrute.jpg">

                  <div class="flick-title"></div>
                  <div class="flick-sub-text"></div>

              </li>
              <li data-background="images/korg.jpg">

                  <div class="flick-title"></div>
                  <div class="flick-sub-text"></div>

              </li>
          </ul>

      </div>



			
	</header>

	<div class="stripe" id="electronictunes"><div class="contain">
      <h3>Electronic</h3>
      <div class="flickerplate bg-image" data-dot-navigation="true" data-block-text="false" data-auto-flick="false"  data-dot-alignment="center" data-theme="light" data-auto-flick-delay=10 id="electronic">	
          <ul>
              <li id="calltoarms">
                  <div class="flick-title2">Intergalactic Call to Arms</div>
                  <div class="flick-sub-text2"> I got a midi controller a while back and recently I decided to compose something with it on Ableton live. I tried to make something complex in composition, like an orchestral music but using digital synths. Most of the sounds you hear here are simple square wave sounds generated using Massive digital synth. I pictured robots fighting an intergalactic space war when composing this.	</div>
									<iframe width="100%" height="130" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65338475&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
              </li>
									
						 <li id="raisethevoltage">
							 		<div class="flick-title2">Raise the Voltage</div>
							 		<div class="row">
                  	<div class="flick-sub-text2 span-6"> Inspired by many sci-fi soundtracks, I decided to make an electronic track that would be suited for an epic sci-fi film. The synth swell in the introduction would be great for any suspense scene.<br><br> I used my minibrute synthesizer and korg volca keys. The drumming is played live on the V-drums. 
										</div>
										
									<div id="video" class="span-5">
										<iframe width="500" height="300" src="//www.youtube.com/embed/H8Qrrw6Jla8" frameborder="0" allowfullscreen id="video"></iframe>
									</div>
								</div>

              </li>
          </ul>

      </div>

	</div></div>
	
		<div class="stripe" id="folkytune"><div class="contain">
      <h3>Folky</h3>
      <div class="flickerplate bg-image" data-dot-navigation="true" data-block-text="false" data-auto-flick="false"  data-dot-alignment="center" data-theme="light" data-auto-flick-delay=10 id="electronic">	
          <ul>
							<li id="mistersandman">

                  <div class="flick-title2">Mister Sandman</div>
                  <div class="flick-sub-text2"> I have a Gretsch Electromatic guitar. It is almost compulsory to learn one of Chet Atkin's songs. I really like Mister Sandman as it always brightens my day. Good song to show off the tone of my guitar. Here's a cover.	</div>
									<iframe width="100%" height="130" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65338475&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
              </li>
						
              <li id="dylan">
                  <div class="flick-title2">The Dylan</div>
                  <div class="flick-sub-text2"> This song is inspired by Bob Dylan. Focusing on simple chord progressions and powerful lyrics. It is about a young boy's pursuit of finding his purpose in life. Is it even worth it?	</div>
									<iframe width="100%" height="130" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65338475&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
              </li>
						
						
						 <li data-background="images/c.jpg">

                  <div class="flick-title2">Mister Sandman</div>
                  <div class="flick-sub-text2"> I have a Gretsch Electromatic guitar. It is almost compulsory to learn one of Chet Atkin's songs. I really like Mister Sandman as it always brightens my day. Good song to show off the tone of my guitar. Here's a cover.	</div>
									<iframe width="100%" height="130" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65338475&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
              </li>
          </ul>

      </div>

	</div></div>
	
			
	<div class="stripe" id="originaltune"><div class="contain">
      <h3>Originals</h3>
      <div class="flickerplate bg-image" data-dot-navigation="true" data-block-text="false" data-auto-flick="false"  data-dot-alignment="center" data-theme="light" data-auto-flick-delay=10 id="electronic">	
          <ul>
							<li id="helloworld">

                  <div class="flick-title2">Hello World</div>
                  <div class="flick-sub-text2"> Woke up to a great morning. Messed around with my guitar while eating breakfast and found a great tune. I guess this is how a good morning sounds like.	</div>
									<iframe width="100%" height="130" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65338475&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
              </li>
						
          </ul>
      </div>
	</div></div>




  <!-- What I Do -->

  <div class="stripe" id="whatido"><div class="contain">

		<h3>What Else Do I Do</h3>
        <h6>These are some of my other interests. Do you share the same?</h6>
        
		
		<a href="/music" class="image-hover" data-wallpaper="images/chet.jpg">
			<div class="text">
				<p><span class="title">Music</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/woodwork" class="image-hover" data-wallpaper="images/woodend.jpg">
			<div class="text">
				<p><span class="title">Woodwork</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/techlab" class="image-hover" data-wallpaper="images/circuit.jpg">
			<div class="text">
				<p><span class="title">Techlab</span>Here is some small additional text</p>
			</div>
		</a>
        
        <a href="/art" class="image-hover" data-wallpaper="images/sky.gif">
			<div class="text">
				<p><span class="title">Art</span>Here is some small additional text</p>
			</div>
		</a>
		
		<a href="/food" class="image-hover" data-wallpaper="images/sushi.jpg">
			<div class="text">
				<p><span class="title">Food</span>Here is some small additional text</p>
			</div>
		</a>
		
	</div></div>



    


	<!-- Contact -->

	<div class="stripe" id="contact"><div class="contain">
	  <h3>Contact</h3>
		<h6>Do we have anything in common? Maybe we can create something together. Contact or follow me.</h6>	
			
		<a href="mailto:jweecy@gmail.com?subject=Hi Jweecy&body=Hi there" class="image-hover" data-wallpaper="images/1.jpg">
			<div class="text">
				<p><span class="title">E-mail</span>jweecy@gmail.com</p>
			</div>
		</a>

			
		<a href="https://twitter.com/jweecy" class="image-hover" data-wallpaper="images/2.jpg">
			<div class="text">
				<p><span class="title">Twitter</span>Jweecy</p>
			</div>
		</a>
			
		<a href="http://instagram.com/jweecy" class="image-hover" data-wallpaper="images/3.jpg">
			<div class="text">
				<p><span class="title">Instagram</span>Jweecy</p>
			</div>	
		</a>
	</div></div>



	<!-- Footer -->

	<div class="stripe dark" id="footer"><div class="contain">

		<h6> With Love </h6>
		&bull;
		<h4> J w e e c y </h4>
		
		<div><br>
			Updates <a href="https://twitter.com/jweecy" target="_blank">@jweecy</a>
		</div>

	</div></div>

</body>
</html>