    //
        Favicon
    link(rel='icon', type='image/png', href='project/img/welcome/favicon.png')
    
    
             span.icon-angle-down
            ul
              li
                a(href='#getting-started') Music
              li
                a(href='#woodwork') Woodwork
              li
                a(href='#techlab') Techlab
              li
                a(href='#art') Art
              li
                a(href='#food') Food
                
                
              span.icon-angle-down
            ul
              li
                a(href='project/ui/quill/example.html') Quill UI
              li
                a(href='project/ui/stripe/example.html') Stripe UI               



		<script id="smooth"> 
		$('a[href^="#"]').on('click', function(event) {
				var target = $(this.href);
				if( target.length ) {
						event.preventDefault();
						$('html, body').animate({
								scrollTop: target.offset().top
						}, 1000);
				}
		});

		</script>